html body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #2f3c7e;
    animation: transitionin 0.75s;
  }
.main{
    background-color: #2f3c7e;
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100vw;
    text-align: center;
    font-size: xx-large;
    color: #fbeaeb;
}
.nav-bar{
    background-color: #fbeaeb;
    display: flex;
    justify-content: space-evenly;
}
.nav-div{
    border-left:2px solid #2f3c7e;
    height:6vh;
    margin: -17.8px;
    border-radius: 2px solid #2f3c7e;
}
.nav-link{
    color:#2f3c7e;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}
.middle{
    width: 100vw;
    border: thick;
    border-top: 5px dotted black;
}
@keyframes transitionin {
    from {
      opacity: 0;
      transform: translateY(-10px)
    }

    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
