html body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #2f3c7e;
    animation: transitionin 0.75s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.main{
    background-color: #2f3c7e;
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100vw;
    text-align: center;
    font-size: xx-large;
    color: #fbeaeb;
}
.nav-bar{
    background-color: #fbeaeb;
    display: flex;
    justify-content: space-evenly;
}
.nav-div{
    border-left:2px solid #2f3c7e;
    height:6vh;
    margin: -17.8px;
}
.nav-link{
    color:#2f3c7e;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}
.middle{
    width: 100vw;
    border: thick;
    border-top: 5px dotted black;
    
}
.cyber{
    width: 100vw;
    height: 30vh;
    display: flex;
    margin-bottom: -3.5vh;
    margin-top: 0.5vh;
}
.cyber-img{
    width: 180px;
    height: 220px;
    margin-left: 2vw;
    margin-right: 2vw;
}
.tdy{
    text-align: center;
    font-size: x-large;
    color: #fbeaeb;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.cyber-info{
    font-size: x-large;
    color: #fbeaeb;
    width: 60%;
}
li{
    margin-bottom: 1vh;
    margin-left: 4vw;
}
.main-div{
    width: 80vw;
    border-left:2px solid;
    margin-top: -0.5vh;
    margin-bottom: 1vh;
}
 .bsa{
    width: 100vw;
    height: 30vh;
    display: flex;
}
.bsa-img{
    width: 190px;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 100px;
    height: 250px;
}
.bsa-tdy{
    text-align: center;
    font-size: x-large;
    color: #fbeaeb;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.bsa-info{
margin-top: 0.5vh;
    font-size: x-large;
    color: #fbeaeb;
    width: 60%;
}
.fire{
    width: 100vw;
    height: 30vh;
    display: flex;
}
.fire-img{
    width: 200px;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 80px;
    height: 220px;
}
.fire-tdy{
    text-align: center;
    font-size: x-large;
    color: #fbeaeb;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.fire-info{
margin-top: 0.5vh;
    font-size: x-large;
    color: #fbeaeb;
    width: 60%;
}

@keyframes transitionin {
    from {
      opacity: 0;
      transform: translateY(-10px)
    }

    to{
      opacity: 1;
      transform: translateY(0);
    }
  }